/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Navigation Bar Styles */
.navbar-Home {
  background: #ec4aab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 10px;
  position: sticky !important;
}

.navbar-Home ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-Home ul li {
  display: inline;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}

.navbar-Home a {
  color: white;
  text-decoration: none;
  outline: none;
}

#icon {
  width: 120px;
  height: 65px;
}

/* Content Styles */
.content {
  text-align: center;
  color: #333;
}

/* Blog List Styles */
.blog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.blog-item {
  width: 30%;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.blog-item:hover {
  transform: scale(1.05);
}

.blog-item h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.blog-item p {
  color: #555;
  font-size: 14px;
}

.blog-item img {
  margin-right: 5px;
}

/* Like and Comment Styles */
.like,
.comment {
  width: 18px;
}

.blog-link {
  text-decoration: none;
  color: inherit;
}

/* Blog Image Styles */
.blog-image {
  width: 100%;
  height: 360px; /* Adjusted height */
}

/* Comment Section Styles */
.comment-section {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.comment-section textarea {
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.comment-section button {
  background-color: #2BA5D1;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* Like and Comment Button Click Effects */
.like:active,
.comment:active {
  transform: scale(2.2);
  transition: transform 0.2s ease-in-out;
}

/* Home Comment Textarea Styles */
.home-comment-textarea {
  height: 20px;
  display: inline;
}

/* Search Bar Styles */
.search-bar {
  margin-left: 50%; /* Adjusted margin */
}

.search-bar input {
  padding: 5px;
  width: 200px;
}

/* Logout Icon Styles */
.logout-icon {
  display: inline;
  width: 20px;
  margin-left: 10px;
}

.logout-icon:hover {
  transform: scale(1.6);
  transition: transform 0.2s ease-in-out;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  /* Navigation Bar Adjustments */
  .navbar-Home {
    align-items: center;
  }

  #icon {
    width: 130px;
    height: 40px;
  }

  .home-comment-textarea {
    height: 20px;
    width: 80%;
    display: flex;
  }

  .navbar-Home ul {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar-Home ul li {
    margin: 10px 0;
    margin-right: 15px;
  }

  /* Search Bar Adjustments */
  .search-bar {
    margin-left: 0;
    text-align: center;
  }

  .search-bar input {
    width: 80%;
    box-sizing: border-box;
  }

  /* Logout Icon Adjustments */
  .logout-icon {
    margin-left: 0;
  }

  /* Blog List Adjustments */
  .blog-list {
    flex-direction: column;
  }

  .blog-item {
    width: 100%;
    margin: 10px 0;
  }

  .blog-image {
    height: auto; /* Adjusted height for responsive images */
  }

  .blog-item h2 {
    font-size: 16px; /* Adjusted font size for blog title */
    margin-bottom: 5px;
  }

  .blog-item p {
    font-size: 12px; /* Adjusted font size for blog content */
  }

  /* Comment Section Adjustments */
  .comment-section textarea {
    width: 100%;
  }
}
